<header class="app-header">
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/clients" routerLinkActive="active">Клиенты</a></li>
      <li><a routerLink="/accounts" routerLinkActive="active">Счета</a></li>
      <li><a routerLink="/budgets" routerLinkActive="active">Лимиты</a></li>
      <li><a routerLink="/goals" routerLinkActive="active">Цели</a></li>
      <li><a routerLink="/transactions" routerLinkActive="active">Переводы</a></li>
    </ul>
  </nav>
</header>
